body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.img_box{
    max-width: 400px; 
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 1cm; 
}

.image-container a {
    display: block;
    border: 3px solid black; 
}

.image-container img {
    width: 200px;

    height: 150px;
    display: block;
}
@media screen and (max-width: 480px) {
    .img_box {
        width: 90%; 
        padding: 15px;
    }

    .image-container {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .image-container img {
        width: 100%;
        max-width: 300px; 
    }
}